    <div width="100%" height="5%" style="background-color:white; color:black; font-size:30px; margin-top:-10px; margin-left:-10px; margin-bottom:10px; height:43px;">
    <span style="margin-left:5px; background-color:white; color:black; font-size:35px;">DaySet</span>
    <a href="/" class="navbar-link-nostrap" style="color:blue;">Home</a>
    <a href="/tools" class="navbar-link-nostrap" style="color:blue;">Tools</a>
    <a href="/about" class="navbar-link-nostrap" style="color:blue;">About</a>
    </div>

    {% extends "app/base.html" %}
    {% block content %}
    <title>Notes | Tools | DaySet</title>

<h1>Notes | DaySet</h1>

<h2>Enter your notes below:</h2>

<form action="#" method="post">
    {% csrf_token %}
    <textarea name="data" rows=10 cols=40 placeholder="Enter your Notes..." style="font-size:30px;"></textarea>
    <br>
    <input type="submit" name="save" value="Save" class="form-button">
</form>
<br>
<a href="/notes_data/">Your data</a>

{% endblock %}